<div">
    <div class="brick__section brick--2   use_screen_one_half brick__section--reverse" data-overflow-wrapper="" style="min-height: 387px;">
    
      
<div class="brick__block 345346DFD" data-prevent-transparent-header="" data-shopify-editor-block="{&quot;id&quot;:&quot;f1607125-b902-4452-a45d-913919d4135d&quot;,&quot;type&quot;:&quot;text&quot;}">
            <div class="brick__block__text brick__block__text--transparent text--neutral" data-overflow-frame="" style="--bg: ; min-height: 385px;">
              <div class="brick__block__text__inner">
                <div class="text__standard text-left" data-overflow-content="" style="
    max-width: 400px;
">
                  

                  

                  
                    <h2 class="h2 standard__heading" data-aos="hero" data-aos-anchor="[data-section-id='template--20370001101103__00c42767-67a6-42b8-874c-c9161c947307']" data-aos-order="2" data-live-text-setting="section.template--20370001101103__00c42767-67a6-42b8-874c-c9161c947307.block.f1607125-b902-4452-a45d-913919d4135d.title">
                      Visibility Unleashed
                    </h2>
                  

                  
                    
                    <div class="standard__rte body-size-5 columns--1 " data-aos="hero" data-aos-anchor="[data-section-id='template--20370001101103__00c42767-67a6-42b8-874c-c9161c947307']" data-aos-order="3" data-live-text-setting="section.template--20370001101103__00c42767-67a6-42b8-874c-c9161c947307.block.f1607125-b902-4452-a45d-913919d4135d.text">
                      <p>Dive deeper into unexplored territories with AquaLume. Featuring a high-visibility luminous dial, this timepiece ensures nothing stays hidden in the dark. Experience underwater clarity like never before with AquaLume, the ultimate tool for deep sea exploration.</p>
                    </div>
                  

                  

                </div>
              </div>
            </div><img src="//cdn.shopify.com/s/files/1/0689/1703/5311/files/530A2575_2000_x_2500_1_360x.png?v=1691151380 360w" style="
    position: absolute;
    top: 100px;
    z-index: 28;
    max-width: 250px;
    right: -135px;
" class="custom-absolute-image">
          </div>

        
    
      
          <div class="brick__block" data-overflow-frame="" data-shopify-editor-block="{&quot;id&quot;:&quot;15962829-083f-434c-8a48-52b21a60a135&quot;,&quot;type&quot;:&quot;image&quot;}" style="min-height: 385px; position: relative;">
            <div class="brick__block__image text--white" style="
    z-index: 0;
">
              <div class="hero__content__wrapper align--middle-center">
                <div class="hero__content " data-overflow-content="">

                  
</div></div>

              
                <div class="image-overlay" style="--bg:#000;opacity:0.0;"></div>
              
<!-- /snippets/hero.liquid -->


<div class="image__hero__frame fade-in-child use_screen_one_half " data-overflow-background="" style="min-height: 385px;">

  <div class="image__hero__pane">
    <div class="image__hero__scale">
      <div class="background-size-cover background-size-cover--fade-in lazyloaded" data-bgset="
//cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_180x.png?v=1691151381 180w 136h,
    //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_360x.png?v=1691151381 360w 271h,
    //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_540x.png?v=1691151381 540w 407h,
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4.png?v=1691151381 668w 503h" style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_540x.png?v=1691151381&quot;);" role="img" aria-label=""><picture style="display: none;"><source data-srcset=" //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_180x.png?v=1691151381 180w 136h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_360x.png?v=1691151381 360w 271h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_540x.png?v=1691151381 540w 407h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4.png?v=1691151381 668w 503h" sizes="675px" srcset=" //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_180x.png?v=1691151381 180w 136h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_360x.png?v=1691151381 360w 271h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_540x.png?v=1691151381 540w 407h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4.png?v=1691151381 668w 503h"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="675px"></picture></div>
    </div>
  </div>

  <noscript>
    <img src="//cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_720x.png?v=1691151381" alt="" class="responsive-wide-image" style="object-position: center center;"/>
  </noscript>





</div>

</div>
          </div>

        
    
  </div>
  </div>

<style>

@media screen and (max-width: 670px) {


.wrapper.section-padding {
    padding-bottom: 15px;
}
#shopify-section-template--20370001101103__4391810e-69a7-4101-8a8e-eeb98273d091 
.text__standard.text-left {
    padding-bottom: 0px;
    margin-top: 130px;
}
img.custom-absolute-image {
    position: absolute !important;
    top: -250px !important;
    z-index: 28 !important;
    max-width: 250px !important;
    left: calc(50% - 125px) !important;
}
}
.345346DFD {
  position: relative;
}
.345346DFD::after {
content: "";
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  height: 20px; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  pointer-events: none; 
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
</style>


<!-- this is the version 2 -->

<div class="">
    







<div>
    <div class="brick__section brick--2   use_screen_one_half brick__section--reverse" data-overflow-wrapper="" style="min-height: 387px;">
    
      
<div class="brick__block 345346DFD" data-prevent-transparent-header="" data-shopify-editor-block="{&quot;id&quot;:&quot;f1607125-b902-4452-a45d-913919d4135d&quot;,&quot;type&quot;:&quot;text&quot;}">
            <div class="brick__block__text brick__block__text--transparent text--neutral" data-overflow-frame="" style="--bg: ; min-height: 385px;">
              <div class="brick__block__text__inner">
                <div class="text__standard text-left" data-overflow-content="" style="
    max-width: 400px;
">
                  

                  

                  
                    <h2 class="h2 standard__heading" data-aos="hero" data-aos-anchor="[data-section-id='template--20370001101103__00c42767-67a6-42b8-874c-c9161c947307']" data-aos-order="2" data-live-text-setting="section.template--20370001101103__00c42767-67a6-42b8-874c-c9161c947307.block.f1607125-b902-4452-a45d-913919d4135d.title">
                      Visibility Unleashed
                    </h2>
                  

                  
                    
                    <div class="standard__rte body-size-5 columns--1 " data-aos="hero" data-aos-anchor="[data-section-id='template--20370001101103__00c42767-67a6-42b8-874c-c9161c947307']" data-aos-order="3" data-live-text-setting="section.template--20370001101103__00c42767-67a6-42b8-874c-c9161c947307.block.f1607125-b902-4452-a45d-913919d4135d.text">
                      <p>Dive deeper into unexplored territories with AquaLume. Featuring a high-visibility luminous dial, this timepiece ensures nothing stays hidden in the dark. Experience underwater clarity like never before with AquaLume, the ultimate tool for deep sea exploration.</p>
                    </div>
                  

                  

                </div>
              </div>
            </div>
            <div class="custom-absolute-image">
            <img src="//cdn.shopify.com/s/files/1/0689/1703/5311/files/530A2575_2000_x_2500_1_360x.png?v=1691151380 360w" class="my-imagex">
            </div>
          </div>

        
    
      
          <div class="brick__block" data-overflow-frame="" data-shopify-editor-block="{&quot;id&quot;:&quot;15962829-083f-434c-8a48-52b21a60a135&quot;,&quot;type&quot;:&quot;image&quot;}" style="min-height: 385px; position: relative;">
            <div class="brick__block__image text--white" style="
    z-index: 0;
">
              <div class="hero__content__wrapper align--middle-center">
                <div class="hero__content " data-overflow-content="">

                  
</div></div>

              
                <div class="image-overlay" style="--bg:#000;opacity:0.0;"></div>
              
<!-- /snippets/hero.liquid -->


<div class="image__hero__frame fade-in-child use_screen_one_half " data-overflow-background="" style="min-height: 385px;">

  <div class="image__hero__pane">
    <div class="image__hero__scale">
      <div class="background-size-cover background-size-cover--fade-in lazyloaded" data-bgset="
//cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_180x.png?v=1691151381 180w 136h,
    //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_360x.png?v=1691151381 360w 271h,
    //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_540x.png?v=1691151381 540w 407h,
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4.png?v=1691151381 668w 503h" style="background-position: center center; background-image: url(&quot;https://cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_540x.png?v=1691151381&quot;);" role="img" aria-label=""><picture style="display: none;"><source data-srcset=" //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_180x.png?v=1691151381 180w 136h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_360x.png?v=1691151381 360w 271h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_540x.png?v=1691151381 540w 407h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4.png?v=1691151381 668w 503h" sizes="575px" srcset=" //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_180x.png?v=1691151381 180w 136h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_360x.png?v=1691151381 360w 271h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_540x.png?v=1691151381 540w 407h, //cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4.png?v=1691151381 668w 503h"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" data-parent-fit="cover" sizes="575px"></picture></div>
    </div>
  </div>

  <noscript>
    <img src="//cdn.shopify.com/s/files/1/0689/1703/5311/files/Mask_group_4_720x.png?v=1691151381" alt="" class="responsive-wide-image" style="object-position: center center;"/>
  </noscript>





</div>

</div>
          </div>

        
    
  </div>
  </div>

<style>
.custom-absolute-image {
    position: absolute;
    top: 100px;
    z-index: 35;
    max-width: 250px;
    right: -135px;
    border: 100px;
}
.custom-absolute-image img {
    max-width: 250px;
}
.custom-absolute-image::after {
    content: "";
    position: absolute;
    bottom: 100px;
    left: 46px;
    width: 60%;
    height: 46px;
    border-radius: 31px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
    pointer-events: none;
    box-shadow: 0px 130px 30px rgba(0, 0, 0, 0.3);
}
#shopify-section-template--20370001101103__4391810e-69a7-4101-8a8e-eeb98273d091 .text__standard.text-left {
    margin-top: 175px;
}

@media screen and (max-width: 670px) {


.wrapper.section-padding {
    padding-bottom: 15px;
}
#shopify-section-template--2037 
.text__standard.text-left {
    padding-bottom: 0px;
    margin-top: 160px;
}
.custom-absolute-image {
    position: absolute;
    top: -250px;
    z-index: 35;
    max-width: 250px;
    right: calc(50% - 124px);
    border: 100px;
}
}
</style></div>
